
.BlogTile {
    flex-grow: 1;
    flex-basis: 0;
    padding-top: 12px;
    padding-bottom: 12px;
    cursor: pointer;

    &:first-of-type {
        padding-top: 0;
    }

    &:last-of-type {
        padding-bottom: 0;
    }
}

.BlogTile-container {
    display: flex;
    height: 100%;
}

.BlogTile-title {
    margin-top: 0;
    margin-bottom: 8px;
    margin-left: 24px;
}

$small-img-range: "(min-width: #{lower-bound($sm-md-range)}) and (max-width:#{upper-bound($sm-md-range)})" !default;

.BlogTile-left {
    width: 40%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;

    @media #{$small-img-range} {
        width: 25%;
    }
}

.BlogTile-right {
    width: 60%;
    height: auto;

    @media #{$small-img-range} {
        width: 75%;
    }
}

.BlogTile-body {
    margin-top: 0;   
    margin-left: 24px;
}

.HomeBlog-tiles--sm {
    @media #{$laptop} {
        display: none;
    }
}

.HomeBlog-tiles--lg {
    display: none;
    @media #{$laptop} {
        display: block;
    }
}