$footer-height: 56px;

.Footer {
    height: $footer-height;
    padding-top: 12px;
    padding-bottom: 12px;
}

.Footer-container {
    @extend %Container;
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.Footer-text {
    margin: 0;
    color: $white;
    height: 100%;
    line-height: 32px;
    
    display: none;
    @media #{$tablet} {
        display: inline;
    }
}

.Footer-sponsor {
    display: flex;
    align-items: center;
    height: 100%;
}

.Footer-sponsor-image {
    height: 100%;
}

.Footer-sponsor-text {
    color: $white;
    margin-right: 12px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
}